<link rel="stylesheet" href="/jsLibs/themes/default/easyui.css">
<link rel="stylesheet" href="/jsLibs/themes/icon.css">
<!--<link rel="stylesheet"  href="'/jsLibs/demo/demo.css">-->
<script src="/javascripts/admin.js"></script>
<script src="/jsLibs/jquery.min.js"></script>
<script src="/jsLibs/jquery.easyui.min.js"></script>

<div style="margin:20px 0;"></div>
<div class="easyui-layout" style="width:100%;height:100%">


    <table id="dgInstitution" title="Таблица Заведений" class="easyui-datagrid" style="width:900px;height:450px"
           toolbar="#toolbar" pagination="true"
           rownumbers="true" fitColumns="true" singleSelect="true">
        <thead>
        <tr>
            <th field="name" width="50">Название Заведения</th>
            <th field="address" width="50">Адресс</th>
            <th field="phone" width="50">Телефон</th>
            <th field="type" width="50">Тип Заведение</th>
        </tr>
        </thead>
    </table>
    <div id="toolbar">
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-add" plain="true" onclick="openCreateInstitiutionDlg()">Добавить заведение</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-edit" plain="true" onclick="editUser()">Редактировать</a>
        <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-remove" plain="true" onclick="destroyUser()">Удалить</a>
    </div>
</div>

<div id="dlg" class="easyui-dialog" style="width:400px"
     closed="true" buttons="#dlg-buttons">
    <form id="fmCreateInstitution"  novalidate style="margin:0;padding:20px 50px">
        <div style="margin-bottom:20px;font-size:14px;border-bottom:1px solid #ccc">Заведение</div>
        <div style="margin-bottom:10px">
            <input name="name" class="easyui-textbox" required="true" label="Название:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input name="address" class="easyui-textbox" required="true" label="Адресс:" style="width:100%">
        </div>
        <div style="margin-bottom:10px">
            <input name="phone" class="easyui-textbox" required="true" label="Телефон:" style="width:100%">
        </div>
    </form>
</div>
<div id="dlg-buttons">
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-ok" onclick="saveInstitution()" style="width:90px">Cохранить</a>
    <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-cancel" onclick="javascript:$('#dlg').dialog('close')" style="width:90px">Отменить</a>
</div>